.wrapper {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  padding: 20px;
}

.column {
  flex: 0 0 300px;
  background-color: rgba(0,0,0,0.3);
  margin-right: 20px;
  padding: 60px 10px 10px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.column__inner {
  overflow-y: auto;
  height: 100%;
  padding-right: 10px;
}

.column__heading {
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  margin: 0;
}
