@media (min-width: 500px) {
  .grid {
    margin-left: -15px;
  }

  /* clearfix */
  .grid::after {
    content: '';
    display: block;
    clear: both;
  }

  .grid__column {
    float: left;
    padding-left: 15px;
    box-sizing: border-box;
  }

  .grid__column--one-half {
    width: 50%;
  }

  .grid__column--one-third {
    width: 33.333333333333%;
  }

  .grid__column--one-quarter {
    width: 25%;
  }
}
